@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Molle:400i|Roboto&display=swap');

* {
  box-sizing: border-box;
}

body {
  background: rgba(181,51,137,0.3);
}

.container {
  margin: auto;
  width: 420px;
  height: 594px;
  background: url('./notebook.svg') no-repeat center;
}

.notebook-grid {
  padding: 67px 40px 0 40px;
  display: grid;
  grid-template-rows: 58px 370px 30px;
  grid-template-columns: repeat(4, 1fr);
}

.notebook-grid-items:nth-child(1) {
  grid-column: span 4;
  display: flex;
	justify-content: center;
	align-items: center;
}

.notebook-grid-items:nth-child(2) {
  grid-column: span 4;
}

.notebook-grid-items:nth-child(3) {
  grid-column: span 4;
  display: flex;
	justify-content: center;
  align-items: center;
  color: #B53389;
  font-family: 'Molle', cursive;
}

h1 {
	line-height: 38px;
  margin: 0;
  font-family: 'Molle', cursive;
  font-size: 32px;
  color: #B53389;
}

.add-container {
  display: flex;
  justify-content: space-around;
}

.fullList {
	font-size: 16px;
	margin: 0;
	height: 22px;
	font-family: "Roboto";
	text-align: center;
}

.todo-list {
  font-family: 'Indie Flower', cursive;
  color: #1f1d16;
  margin-top: 10px;
}

.todo-item {
	line-height: 25px;
}

.todo-item > span {
  cursor: pointer;
}

.visibility-filters {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.visibility-filters > span {
  cursor: pointer;
}

.to-do {
  color: #24d;
}

.doing {
  color: #00d024;
}

.done {
  text-decoration: line-through
}


@media(max-width: 415px){
  .container {
    max-width: 360px;
    /* height: 594px; */
  }
  .notebook-grid {
    padding: 28% 9% 0 9%;
    grid-template-rows: 58px 307px 30px;
  }
}